
@font-face {
    font-family: 'Love Font';
    src: url("C:/Users/aykay/Desktop/React-JS-Image-Gallery-main/src/components/assets/Fonts/Love.ttf");
  
  }
  
  @font-face {
    font-family: 'Wish Font';
    src: url("./components/assets/Fonts/Aesthetic Violet.otf");
  }


  @font-face {
    font-family: 'Cute Font';
    src: url("./components/assets/Fonts/CutestThings-owWqq.ttf");
  }